* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.nav {
  height: 50px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  background-color: blueviolet;
}

body {
  background-color: rgb(39, 35, 35);
}
